@import url("https://fonts.googleapis.com/css?family=Fira+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:100,300,400,600,700,800&display=swap");
@import url("https://use.fontawesome.com/releases/v5.0.9/css/all.css");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

html, body {
  height: 100%; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.75;
  opacity: 1;
  font-family: "Raleway", sans-serif;
  overflow-x: hidden; }
  body.ishome .header {
    background-image: url(../img/1.png);
    min-height: 700px;
    height: 10vh;
    background-color: #1a1a1a;
    color: #fff; }

header, section {
  position: relative;
  background-size: cover;
  background-color: center; }

section {
  background-color: #fff; }

.top-line {
  position: absolute;
  width: 100%;
  padding-top: 40px;
  z-index: 1; }

.logo img {
  width: 128px;
  height: auto;
  margin-left: 45px; }

.phone {
  position: absolute;
  right: 85px;
  top: 44px;
  font-family: 'firasans';
  font-size: 22px;
  white-space: nowrap; }
  .phone a {
    color: #fff; }
  .phone .fa {
    color: #555;
    margin-right: 3px; }

.hamburger {
  position: absolute;
  right: 0;
  top: 34px; }
  .hamburger .hamburger-box {
    width: 34px; }
    .hamburger .hamburger-box .hamburger-inner,
    .hamburger .hamburger-box .hamburger-inner:after, .hamburger .hamburger-box .hamburger-inner:before {
      border-radius: 0;
      width: 34px;
      height: 2px;
      background-color: #fff; }

.mm-navbar {
  padding: 10px 0 20px; }
  .mm-navbar .mm-navbar__title img {
    width: 128px;
    height: auto; }

body.mm-menu_opened {
  overflow-y: scroll; }

.mm-panels > .mm-panel.mm-panel_opened {
  right: -18px; }

.mm-listitem.mm-listitem_selected > .mm-listitem__text {
  background-color: transparent;
  color: #F9C869; }

.mm-listview li.active a {
  color: #F9C869; }

.mm-listview li a {
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
  padding: 8px 14% 0; }
  .mm-listview li a:hover {
    color: #F9C869; }
  .mm-listview li a::before {
    padding-right: 3px;
    content: '\f3a5';
    font-family: 'Font Awesome\ 5 Free'; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

::-moz-selection {
  background-color: #F9C869;
  color: #fff; }

::selection {
  background-color: #F9C869;
  color: #fff; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/ }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
