@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)

	.header
		background-position-x: 90%
		.phone
			font-size: 20px
		&-contact
			font-size: 13px
		&-title
			.h1
				font-size: 65px
	.carousel-services-item
		flex-direction: column-reverse
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.header
		background-position-x: 80%
		.phone
			font-size: 18px
		&-contact
			font-size: 13px
			.row
				div:nth-child(3)
					text-align: center
		&-title
			.h1
				font-size: 50px
	.callback
		padding: 10% 0

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.header
		&-contact
			font-size: 13px
			.row
				div:nth-child(2), div:nth-child(3)
					text-align: left
		&-title
			.h1
				font-size: 42px
			strong
				font-size: 14px
				margin-top: 20px
		&-content
			.button
				margin-top: 15px
			p
				margin-top: 30px
				font-size: 14px
	.logo
		img
			width: 120px
			height: auto
			margin-left: 30px
	.button
		padding: 12px 34px
	.s
		&-galery, &-review,&-parthners
			padding: 10% 0
			p
				font-size: 14px
		&-call
			background-size: cover
			&::before
				width: 100%
	.carousel
		&-review
			&-qoutes
				display: none
			.review-text
				font-size: 14px
		&-parthners
			.owl
				&-prev
					left: 30px
				&-next
					right: 30px

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.mm-listview li
		font-size: 17px
	.hamburger-box
		width: 30px
		.hamburger-inner,
		.hamburger-inner:after, .hamburger-inner:before
			width: 30px
	.header
		.phone
			font-size: 16px
		&-title
			.h1
				font-size: 35px
			p
				font-size: 13px
			strong
				font-size: 14px
				margin-top: 18px
		&-social
			.social
				a
					width: 30px
					height: 30px
					line-height: 30px
	.button
		padding: 10px 30px
		font-size: 11px
	.s
		&-galery, &-call, &-review, &-parthners
			p
				font-size: 13px
			.h2, .h4
				font-size: 25px
	.review
		&-name
			font-size: 20px
		&-date
			font-size: 17px
		&-text
			font-size: 13px
		&-stars
			margin: 16px 0 25px
			font-size: 14px
	.carousel
		&-review
		.owl
			&-dots
				margin-top: 40px
		&-services
			&-item
				font-size: 14px
			&-content
				padding: 40px 10%
				.h3
					font-size: 22px
					span
						font-size: 17px
		.carousel-logo
			img
				width: 80px
		.owl
			&-nav
				button.owl-prev, button.owl-next
					width: 40px
					height: 40px
					line-height: 40px
					font-size: 16px

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	.phone
		left: 30px
		top: 88px
	.hamburger-box
		width: 25px
		.hamburger-inner,
		.hamburger-inner:after, .hamburger-inner:before
			width: 25px
	.mm-listview li
		font-size: 12px
	.header
		.phone
			font-size: 16px
		&-content
			.button
				margin-top: 15px
			p
				margin-top: 25px
				font-size: 11px
		&-title
			.h1
				font-size: 28px
			p
				font-size: 11px
			strong
				font-size: 10px
				margin-top: 18px
		&-contact
			font-size: 10px
	.button
		padding: 9px 28px
		font-size: 10px
	.s
		&-galery, &-call, &-review, &-parthners
			p
				font-size: 11px
			.h2, .h4
				font-size: 20px

	.carousel-services
		&-item
			font-size: 14px
		&-content
			padding: 30px 10%
			.h3
				font-size: 20px
				span
					font-size: 16px
		.carousel-logo
			text-align: center
			img
				width: 70px
		.owl
			&-nav
				button.owl-prev, button.owl-next
					width: 32px
					height: 32px
					line-height: 32px
					font-size: 13px
	.review
		&-name
			font-size: 18px
		&-date
			font-size: 14px
		&-text
			font-size: 11px
		&-stars
			margin: 12px 0 20px
			font-size: 11px

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/
