@import "fonts"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

.h1,.h2, .h3,.h4, .h6,.h7
	line-height: 1.4
	text-transform: uppercase

body

	font-size: 16px
	min-width: 320px
	line-height: 1.75
	opacity: 1
	font-family: $default-font
	overflow-x: hidden
	overflow-y: scroll
header, section
	position: relative
	background-size: cover
	background-color: center
section
	background-color: #fff

//header
.logo
	img
		width: 128px
		height: auto
		margin-left: 45px
.phone
	position: absolute
	right: 85px
	top: 44px
	font-family: 'firasans'
	font-size: 22px
	white-space: nowrap
	a
		color: #fff
	.fa
		color: #555
		margin-right: 3px
.hamburger
	position: absolute
	right: 0
	top: 34px
	.hamburger-box
		width: 34px
		.hamburger-inner,
		.hamburger-inner:after, .hamburger-inner:before
			border-radius: 0
			width: 34px
			height: 2px
			background-color: #fff
.mm-navbar
	padding: 10px 0 20px
	.mm-navbar__title
		img
			width: 128px
			height: auto
body.mm-menu_opened
	overflow-y: scroll
.mm-panels > .mm-panel.mm-panel_opened
	right: -18px

.mm-listitem.mm-listitem_selected > .mm-listitem__text
	background-color: transparent
	color: $accent

.mm-listview li
	&.active
		a
			color: $accent
	a
		transition: .3s ease
		padding: 8px 14% 0
		&:hover
			color: $accent
		&::before
			padding-right: 3px
			content: '\f3a5'
			font-family: 'Font Awesome\ 5 Free'

			font-size: 12px
.button
	border-radius: 2px
	display: inline-block
	text-align: center
	vertical-align: middle
	transition: .3s ease
	padding: 16px 45px
	outline: none
	text-decoration: none
	border: none
	font-size: 13px
	letter-spacing: 3px
	text-transform: uppercase
	font-weight: 600
	&-about
		background: $accent
		color: #fff
		&:active, &:hover
			text-decoration: none
			color: #fff
		&:hover
			background-color: lighten($accent, 5%)
		&:active
			background-color: darken($accent, 5%)

.header
	background-image: url(../img/1.png)
	height: 100vh
	min-height: 700px
	background-color: $dark
	color: #fff
	&-top
		position: absolute
		width: 100%
		padding-top: 40px
		z-index: 1
	&-main
		display: flex
		position: relative
		top: 0
		height: 100%
	&_center
		margin: auto
	&-content
		text-align: center
		position: relative
		.button
			margin-top: 25px
		p
			margin-top: 40px
	&-title
		p
			white-space: nowrap
			margin: 0
			text-transform: uppercase
			font-size: 14px
			display: flex
			align-items: center
			span
				margin: 0 3px
			&::before, &::after
				content: ''
				height: 1px
				width: 100%
				position: relative
				background-color: #ffffff
				display: inline-block
		.h1
			font-weight: 100
			white-space: nowrap
			font-size: 67px
			margin: 0
			border-bottom: 1px solid #fff
		strong
			display: block
			text-transform: uppercase
			font-size: 17px
			margin-top: 25px
			.fa
				margin: 0 10px
				color: #555
	&-social
		position: absolute
		display: flex
		right: 0
		top: 0
		height: 100%
		border-left: rgba(#fff, .1) solid 1px
		.social
			margin: auto
			padding: 0 13px
			ul,li
				margin: 0
				padding: 0
				list-style-type: none
				align-items: center
			a
				color: #2c2c2c
				background-color: rgba(#fff, .2)
				display: block
				width: 38px
				height: 38px
				border-radius: 10em
				line-height: 38px
				text-align: center
				margin: 18px 0
				transition: .25s ease
				&:hover
					background-color: rgba(#fff, .4)
	&-contact
		position: absolute
		bottom: 0
		left: 0
		border-top: rgba(#fff, .15) 1px solid
		padding: 13px 0
		background-color: rgba(#151515, .15)
		width: 100%
		white-space: nowrap
		a
			color: #fff
			font-family: 'firasans'
		i
			margin-right: 5px
			color: #555
		.row
			div:nth-child(2)
				text-align: center

.img-responsive
	display: block
	max-width: 100%
	height: auto

.text-center
	text-align: center

::selection
	background-color: $accent
	color: #fff

@import "media" // Всегда в конце
